@font-face {
    font-family: 'IBMPlex';
    src: url('./IBMPlexSans-Bold.ttf') ;
    font-weight: 600;
    font-style: normal;
}

.hello {
  font-family: 'IBMPlex';
  color: red;
  background: url('./icon.png');
}
